

<nb-layout>

  <nb-layout-header fixed layout-background-color	="red">TheGood.health </nb-layout-header>

 <nb-layout-footer></nb-layout-footer>

 <nb-layout-column  >
       <div class="row ">

           <!-- <div class="col-sm-3">

           </div> -->

           <div class=" gedf-main">

               <!--- \\\\\\\Post-->
               <app-post-feed>

               </app-post-feed>



           </div>

<!--
           <div class="col-md-3">

           </div> -->



       </div>

 </nb-layout-column>


 <nb-sidebar state="expanded" responsive=true left>

              <app-menu style="width:100%" >

              </app-menu>
              <nb-card>
                <nb-menu [items]="items" autoCollapse="true">
                </nb-menu>
              </nb-card>
  </nb-sidebar>
  <nb-sidebar state="expanded" responsive=true right>

    <app-contacts>

    </app-contacts>



   </nb-sidebar>

</nb-layout>
